/**
 * Cocoar Design System - Design Tokens
 * Stroke Width - Border widths
 * Border width scale
 */

:root {
  --coar-stroke-width-l: 4px;
  --coar-stroke-width-m: 2px;
  --coar-stroke-width-s: 1px;
  --coar-stroke-width-xs: 0.5px;
}
